@import "tailwindcss";

a{
    text-decoration: none;
    color: #5a5a5a;
}

img{
    cursor: pointer;
}

.flex-div{
    display: flex;
    align-items: center;
}

/* NavBar right img */

.nav-right img{
    width: 25px;
    margin-right: 25px;
}


/* Sidebar */

.shortcut-links img{
    width: 20px;
    margin-right: 20px;
}

.side-link{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    cursor: pointer;
}

.subscribed-list img{
    width: 25px;
    margin-right: 20px;
    border-radius: 50%;
}

.small-sidebar{
    width: 5%;

}

.small-sidebar p{
    display: none;
}

.small-sidebar h3{
    display: none;
}

.small-sidebar hr{
    width: 50%;
    margin-bottom: 25px;
}

.side-link.active img{
    padding-bottom: 2px;
    border-bottom: 3px solid red;
}

/* Feed */

.container{
    background-color: #f9f9f9;
    padding-left: 17%;
    padding-right: 2%;
    padding-bottom: 20px;
}

.large-container{
    padding-left: 7%;
}

.feed{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-column-gap:16px ;
    grid-row-gap: 30px;
    margin-top: 15px;
}

.card img{
    width: 100%;
    border-radius: 5px;
}

.card h2{
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin: 5px 0;
}

.card h3{
    font-size: 14px;
    font-weight: 600;
    color: #555;
    margin: 6px 0;
}

.card p{
    font-size: 14px;
}


/* PlayVideo */

.play-video-info img{
    width: 20px;
    margin-right: 8px;
}

.play-video-info span{
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}

.comment{
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
}

.comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

.comment h3{
    font-size: 14px;
    margin-bottom: 2px;
}

.comment h3 span{
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}

.comment-action{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14px;
}

.comment-action img{
    border-radius: 0;
    width: 20px;
    margin-right: 5px;
}

.comment-action span{
    margin-right: 20px;
    color: #5a5a5a;
}


/* Recommended */

.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.side-video-list img{
    flex-basis: 49%;
    width: 50%;
}

.vid-info{
    flex-basis: 49%;
}

.vid-info h4{
    font-size: 13px;
    margin-bottom: 5px;
}


/* Media Quiers */

@media (max-width:900px) {
   
    .nav-right img{
        display: none;
    }

    .nav-right .user-icon{
        display: block;
        width: 30px;
    }

    .logo{
        width: 90px;
    }

    .nav-middle .search-box input{
        width: 100px;
    }

    .sidebar{
        display: none;
    }
}